/*
Colors:
background: #eaecf2
*/
body {
	background: #eaecf2;
}

hr{
background-color: #000; /* Farbe für Opera und Firefox */
color: #000; /* Farbe für Internet Explorer (IE) */
border: 0;
height: 1px;
}

#menu_add_arg_unit_content,#confirm_unsaved_changes_dialog,#menu_add_concept_unit_content {
	display: none;
}

#move_to_top {
	position: fixed;
	right: 5px;
	top: 5px;
	cursor: pointer;
}

#manage_data_actions li {
	list-style: none;
}

#manage_data_actions form {
	margin: 0px;
	display: inline-block;
}

#process_overview table {
	max-width: none;
}

#process_overview table thead {
	font-weight: bold;
}

#process_overview table .filename_in_table * {
	width: 20px;
	/* 	height: 150px; */
	/* 	-ms-transform: rotate(270deg); IE 9 */
	/* 	-moz-transform: rotate(270deg); Firefox */
	/* 	-webkit-transform: rotate(270deg); Safari and Chrome */
	/* 	-o-transform: rotate(270deg); */
	/* 	-ms-transform: rotate(270deg); Opera */
	/* 	transform: rotate(270deg); */
}

#process_overview table .processing_state_unprocessed {
	background: #DDDDDD;
}

#process_overview table .processing_state_in_progress {
	background: yellow;
}

#process_overview table .processing_state_complete {
	background: green;
}

#select_doc,#select_topic {
	border: 1px solid #DDDDDD;
	border-radius: 5px;
	padding: 3px;
	margin-bottom: 3px;
	display: inline-block;
}

#navigation {
	font-size: 150%;
}

#navigation img {
	margin-right: 15px;
	display: inline-block;
	float: left;
}

#navigation #views {
	float: left;
	line-height: 30px;
}

#navigation ul {
	list-style: none;
	margin: 5px;
}

#navigation ul li {
	padding-top: 0px;
	display: inline;
	text-decoration: none;
	display: inline;
}

#navigation li+li {
	border-left: 2px solid;
	border-left-color: #9fafcd;
	margin-left: .5em;
	padding-left: .5em;
}

#navigation a:hover {
	text-decoration: none;
}

.current_task * {
	font-weight: bold;
	color: #9fafcd;
}

#header {
	background-color: #4A3398;
	background-repeat: repeat;
	/* 	height: 150px; */
	text-align: left;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

#message_dummy {
	color: #eaecf2;
}

#message {
	font-size: 150%;
	font-family: sans-serif;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
}

#unapproveMessage, 
#save_message {
	position: fixed;
	top: 200px;
	left: 400px;
	font-size: 25px;
	font-weight: bold;
}

.annotator_name {
/* 	font-style: italic; */
}

.btn_container {
	padding: 3px;
	position: fixed;
	right: 5px;
	top: 220px;
	border-radius: 5px;
	background-color: rgb(200, 200, 200);
	/* 	filter: alpha(opacity = 50); */
	/* 	opacity: 0.5; */
}

.btn_container ul {
	list-style: none;
	margin: 0px;
	padding: 4px;
}

.btn_container ul li {
	padding-top: 5px;
}

/*
'Add AU' dialog
*/
.popover {
	max-width: 300px;
}

OPTION.aCit{background-color:#FFFFFF; color:black}
OPTION.a1{background-color:#00008B; color:white}
OPTION.a2{background-color:#006400; color:white}
OPTION.a3{background-color:#8B0000; color:white}
OPTION.a4{background-color:#A1A1A1; color:black}
OPTION.a5{background-color:#8B4513; color:white}
OPTION.a6{background-color:#FFFF00; color:black}
OPTION.a7{background-color:#00FFFF; color:black}
OPTION.a8{background-color:#FF8C00; color:black}
OPTION.a9{background-color:#FF1493; color:black}
OPTION.a10{background-color:#ADFF2F; color:black}
OPTION.a11{background-color:#000000; color:white}
OPTION.a12{background-color:#FF0000; color:black}
OPTION.a13{background-color:#C5C500; color:black}
OPTION.a14{background-color:#5A89FF; color:black}
OPTION.a15{background-color:#A72FBC; color:white}
OPTION.a16{background-color:#C2FFC1; color:black}
OPTION.a17{background-color:#6E6C6B; color:white}
OPTION.a18{background-color:#90979C; color:white}
OPTION.a19{background-color:#500D54; color:white}
OPTION.a20{background-color:#005A57; color:white}


[class*=a1]+.gap,[class*=a1] {
	background-color: #00008B;
	color: white !important;
}

[class*=a2]+.gap,[class*=a2] {
	background-color: #006400;
	color: white !important;
}

[class*=a3]+.gap,[class*=a3] {
	background-color: #8B0000;
	color: white !important;
}

[class*=a4]+.gap,[class*=a4] {
	background-color: #A1A1A1;
	color: black !important;
}

[class*=a5]+.gap,[class*=a5] {
	background-color: #8B4513;
	color: white !important;
}

[class*=a6]+.gap,[class*=a6] {
	background-color: #FFFF00;
	color: black !important;
}

[class*=a7]+.gap,[class*=a7] {
	background-color: #00FFFF;
	color: black !important;
}

[class*=a8]+.gap,[class*=a8] {
	background-color: #FF8C00;
	color: black !important;
}

[class*=a9]+.gap,[class*=a9] {
	background-color: #FF1493;
	color: black !important;
}

[class*=a10]+.gap,[class*=a10] {
	background-color: #ADFF2F;
	color: black !important;
}

[class*=a11]+.gap,[class*=a11] {
	background-color: #000000;
	color: white !important;
}

[class*=a12]+.gap,[class*=a12] {
	background-color: #FF0000;
	color: black !important;
}

[class*=a13]+.gap,[class*=a13] {
	background-color: #C5C500;
	color: black !important;
}

[class*=a14]+.gap,[class*=a14] {
	background-color: #5A89FF;
	color: black !important;
}

[class*=a15]+.gap,[class*=a15] {
	background-color: #A72FBC;
	color: white !important;
}

[class*=a16]+.gap,[class*=a16] {
	background-color: #C2FFC1;
	color: black !important;
}

[class*=a17]+.gap,[class*=a17] {
	background-color: #6E6C6B;
	color: white !important;
}

[class*=a18]+.gap,[class*=a18] {
	background-color: #90979C;
	color: white !important;
}

[class*=a19]+.gap,[class*=a19] {
	background-color: #500D54;
	color: white !important;
}

[class*=a20]+.gap,[class*=a20] {
	background-color: #005A57;
	color: white !important;
}

[class*=aCit]+.gap,[class*=aCit] {
	background-color: #FFFFFF;
	color: black !important;
}

/*TODO: this is not a good solution, should use regexp for numbers...*/
[class*=c1]+.gap,[class*=c1],[class*=c2]+.gap,[class*=c2],[class*=c3]+.gap,[class*=c3],[class*=c4]+.gap,[class*=c4],[class*=c5]+.gap,[class*=c5],[class*=c6]+.gap,[class*=c6],[class*=c7]+.gap,[class*=c7],[class*=c8]+.gap,[class*=c8],[class*=c9]+.gap,[class*=c9] {
	color: green;
}

#add_relation_attack {
	background-color: red;
}

#add_relation_sequence {
	background-color: white;
}

#add_relation_detail {
	background-color: blue;
}

#add_relation_support {
	background-color: green;
}

.annotation_dialog ul {
	list-style: none;
}

.annotation_dialog ul li {
	line-height: 1em
}

.annotation_dialog img {
	/* 	padding-right: 10px; */
	
}

.removal_dialog button,.annotation_dialog button {
	background-image: none;
	color: black;
	padding: 3px;
}

.annotation_dialog #cancel_removal {
	margin-left: 42px;
}

.annotation_dialog #cancel_add_arg_unit {
	margin-left: 42px;
}

/*
Coloring of argumentation units:
(see also hslpicker.com)
claim: #9fa9ef
	claim-re: #6675e5
support: #5bc653 (l=55%)
	pre-claim support: #41ac39 (l=45%)
	post-claim support: #7fd279 (l=65%)
attack: #b66d6d (l=57%)
	pre-claim attack: #a55 (l=50%)
	post-claim attack: #c38888 (l=65%)
*/
[class*=claim],[class*=support],[class*=attack] {
	color: #000;
	border: 1px;
	background-size: 25px 25px;
}

[class*=claim-re]+.gap,[class*=claim-re] {
	background-color: #6675e5 !important;
}

[class*=claim]+.gap,[class*=claim] {
	background-color: #9fa9ef;
}

[class*=support-pre]+.gap,[class*=support-pre] {
	background-color: #41ac39;
}

[class*=support-post]+.gap,[class*=support-post] {
	background-color: #7fd279;
}

[class*=attack-pre]+.gap,[class*=attack-pre] {
	background-color: #a55;
}

[class*=attack-post]+.gap,[class*=attack-post] {
	background-color: #c38888;
}

/*
 * Overlapping annotations
 */
[class*=claim][class*=support] {
	background-image: linear-gradient(to right, #9fa9ef 50%, #7fd279 50%);
}

[class*=claim][class*=attack] {
	background-image: linear-gradient(to right, #9fa9ef 50%, #c38888 50%);
}

[class*=support][class*=attack] {
	background-image: linear-gradient(to right, #7fd279 50%, #c38888 50%);
}

[class*=claim][class*=support][class*=attack] {
	background-repeat: repeat-x;
	background-image: linear-gradient(to right, #9fa9ef 33.33%, #7fd279 33.33%, #7fd279 66.66%
		, #c38888 66.66%);
}

[id*=confidence_indicator_] {
	font-weight: bold;
}

.highlightedText+.gap,.highlightedText {
	cursor: pointer;
	background: yellow !important;
	color: #000;
	border: 1px;
}

.selectedText+.gap,.selectedText {
	background-color: #6ec051;
	color: #000;
}

#menu_arg_unit {
	display: none;
}

.doc_metadata {
	color: grey;
}

.badText,#badText li {
	color: #F00 !important
}

.goodText,#goodText li {
	color: #0C0 !important
}


#wrap {
	width: 100%;
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
}

.highlightContainer {
	float: left;
	/*width: 650px;*/
	/* 	margin-left: 10px; */
	/* 	margin-right: 20px; */
	line-height: 1.9em;
	font-size: 16px;
	border: 3px #dddddd solid;
	padding: 5px;
	border-radius: 10px;
	/*width: 45%;*/
	font-family: 'Georgia', serif;
}

#showThirdAnnotatorForm {
	display: inline-block;
	border: 2px #dddddd solid;
	border-radius: 5px;
}

#textContainer1,
#textContainer2,
#textContainer3 {
	margin-left: 5px;
	min-width: 400px;
}

#right_col {
	overflow: hidden;
	margin: 0 0 0 10px;
}

#buttons li {
	display: inline;
}

#buttons ul {
	margin: 0;
}

#results {
	display: none;
}

#relation_results {
	display: none;
}

#concept_results {
	display: none;
}

#right_col #notes {
	position: fixed;
	bottom: 0px;
	margin: 5px;
}

#relation_col {
	position: fixed;
	top: 70px;
	margin: 5px;
}

#notes textarea {
	resize: none;
	width: 80%;
}

ul li {
	padding-top: 15px;
}

h1 {
	font-family: "klavika-web", "ProximaNovaCond", serif;
	font-weight: bold;
	font-size: 34px;
	color: #333;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 18px;
}

.fstyle {
	font-family: "ProximaNovaCond", serif;
	font-weight: bold;
	font-size: 24px;
	color: #9fafcd;
}

.fstyle_done {
	font-family: "ProximaNovaCond", serif;
	font-weight: bold;
	font-size: 24px;
	color: white;
}

.ustyle {
	font-family: "ProximaNovaCond", serif;
	font-weight: bold;
	font-size: 14px;
	color: #9fafcd;
	float: right;
	clear: both;
}

.ustyle form {
	margin: 0px;
}

.remove_arg {
	padding-left: 25px;
	margin-bottom: 0px;
	background: url(remove.png) no-repeat top left;
	display: inline-block;
	height: 32px;
	width: 32px;
}

.doc {
	margin-right: 5px;
	cursor: pointer;
	font-weight: bold;
}

.unprocessed_doc {
	color: #aeaeae;
}

.processed_doc {
	color: #F5EE33;
}

.current_doc {
	color: #e8ede9;
	font-size: 130%;
}

.approved_doc {
	color: #37dd62;
}

.block {
	padding: 10px;
	border: 1px solid #ddd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.table td,.table th {
	padding: 3px;
}