<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- 
 Author: Roland Kluge
 -->
{% autoescape true %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Compare documents</title>
<script type="text/javascript" src="../static/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../static/bootstrap/js/bootstrap.js"></script>
<script type="text/javascript" src="../static/js/au/common.js"></script>
<script type="text/javascript" src="../static/js/au/compare.js"></script>
<link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet"
	type="text/css" />
<link href="../static/css/arg_unit.css" rel="stylesheet" type="text/css" />
</head>
<body id="compareView" style="background: #eaecf2">
	<div id="move_to_top" title="Move to top of the page">
		<img src="/static/img/draw-arrow-up.png" />
	</div>
	<div id="header">
		<div id="navigation">
			<img src="../static/img/logo.png" width="40px" />
			<div id="views">
				<ul>
					{% for view_id, view_description, url in all_views %} {% if view_id
					== current_view %}
					<li class="current_task"><a href="{{url}}">{{view_description}}</a></li>
					{% else %}
					<li><a href="{{url}}">{{view_description}}</a></li> {% endif %} {%
					endfor %}
				</ul>
			</div>
		</div>
		<div class="ustyle">
			<div id='user'>
				Welcome {{ user }}. <a href="{{ logout_url }}">Sign out</a>
			</div>
			<div id="select_topic">
				<form>
					Choose a topic: <br /> <select id="select_topic_choice"
						name="topic"> {% for topic in all_topics%} {% if topic ==
						current_topic %}
						<option value="{{topic}}" selected="">{{topic}}</option> {% else
						%}
						<option value="{{topic}}">{{topic}}</option> {% endif %} {% endfor
						%}
					</select>
				</form>
			</div>
			<div id="select_doc">
				<form>
					Choose a document: <br /> <select id="select_doc_choice"
						name="doc"> {% for d in documents_sorted_by_id%} {% if
						d.filename == doc_filename %}
						<option value="{{d.filename}}" selected="">{{d.filename}}</option>
						{% else %}
						<option value="{{d.filename}}">{{d.filename}}</option> {% endif %}
						{% endfor %}
					</select>
				</form>
			</div>
		</div>

		<div id="processed_docs"
			style="margin-left: 5px; float: left; width: 650px;">
			{% for doc in navigation_docs %}
			<div style="display: inline;" title="{{doc.filename}}">
				{% if doc.filename == doc_filename %} <span class="current_doc doc"
					doc="{{ doc.filename }}">{{ loop.index }}</span> {% else %} <span
					class="unprocessed_doc doc" doc="{{ doc.filename }}">{{
					loop.index }}</span> {% endif %}
			</div>
			{% endfor %}
		</div>
		<br style="clear: both;" />
		<div style="float: left; padding: 5px; margin: auto;">
			<button id="goPrevious" type="button" accesskey="b"
				title="Previous document. Shortcut: 'b'." class="btn btn-success">&lt;
				Previous</button>
			<button id="goNext" type="button" accesskey="n"
				title="Next document. Shortcut: 'n'." class="btn btn-success">Next
				&gt;</button>
		</div>
		<br style="clear: both;" />
	</div>
	<div id="wrap">
		<div id="message">
			<span id="message_dummy">&gt;</span>{{ message }}
		</div>
		{% if has_document %}
		<div id="showThirdAnnotatorForm">
			Show third annotator? <input id="showThirdAnnotator" type="checkbox"
				{% if showAnnotator3 %} checked="true"{% endif %}></input>
		</div>
		<div class="doc_metadata">
			File: {{doc_filename}} - Has {{num_tokens}} tokens in
			{{num_sentences}} sentences. - Opened on: {{time}} - <a
				href="{{ doc_url }}" id="text_url" target="_blank">Original text</a>
		</div>
		<br />
		<div id="textContainer1" class="highlightContainer">
			<div id="annotator_choice_1">
				Choose annotator 1: <select name="annotator1"> {% for user
					in all_users %} {% if user == annotator1 %}
					<option value="{{user}}" selected="">{{user}}</option> {% else %}
					<option value="{{user}}">{{user}}</option> {% endif %} {% endfor %}
				</select>
			</div>
			<div id="annotator_name1" class="annotator_name">Annotations by
				{{annotator1}}</div>
			<div id="approvalStatus1" approved="{{approved1}}"> <span
				id="statusText"></span>
				<button id="toggleApproval" type="button" class="btn"></button>
			</div>
			<div id="textWithinHighlightContainer1">{{ text|safe }}</div>
			<div id="notes">
				<h2>Notes:</h2>
				<textarea rows="20" cols="100" readonly>{{notes1|safe}}</textarea>
			</div>
			<div style="display: none;">
				<ul id="results1"></ul>
			</div>
		</div>


		<div id="textContainer2" class="highlightContainer">
			<div id="annotator_choice_2">
				Choose annotator 2: <select name="annotator2"> {% for user
					in all_users %} {% if user == annotator2 %}
					<option value="{{user}}" selected="">{{user}}</option> {% else %}
					<option value="{{user}}">{{user}}</option> {% endif %} {% endfor %}
				</select>
			</div>
			<div id="annotator_name2" class="annotator_name">Annotations by
				{{annotator2}}</div>
			<div id="approvalStatus2" approved="{{approved2}}"> <span
				id="statusText"></span>
				<button id="toggleApproval" type="button" class="btn"></button>
			</div>
			<div id="textWithinHighlightContainer2">{{ text|safe }}</div>
			<div id="notes">
				<h2>Notes:</h2>
				<textarea rows="20" cols="100" readonly>{{notes2|safe}}</textarea>
			</div>
			<div style="display: none;">
				<ul id="results2"></ul>
			</div>
		</div>
		<div id="textContainer3" class="highlightContainer">
			<div id="annotator_choice_3">
				Choose annotator 3: <select name="annotator3"> {% for user
					in all_users %} {% if user == annotator3 %}
					<option value="{{user}}" selected="">{{user}}</option> {% else %}
					<option value="{{user}}">{{user}}</option> {% endif %} {% endfor %}
				</select>
			</div>
			<div id="annotator_name3" class="annotator_name">Annotations by
				{{annotator3}}</div>
			<div id="approvalStatus3" approved="{{approved3}}"> <span
				id="statusText"></span>
				<button id="toggleApproval" type="button" class="btn"></button>
			</div>
			<div id="textWithinHighlightContainer3">{{ text|safe }}</div>
			<div id="notes">
				<h2>Notes:</h2>
				<textarea rows="20" cols="100" readonly>{{notes3|safe}}</textarea>
			</div>
			<div style="display: none;">
				<ul id="results3"></ul>
			</div>
		</div>
		{% endif %}
	</div>

	<div id="unapproveMessage"></div>

	<div id="footer"
		style="background-color: #415e9b; clear: both; padding: 10px"></div>

	<script type="text/javascript"> 
    var arg_units1 = {{ arg_units1|safe }}
    var arg_units2 = {{ arg_units2|safe }}
    {% if showAnnotator3 %}
    var arg_units3 = {{ arg_units3|safe }}
    {% endif %}
	</script>
</body>
</html>
{% endautoescape %}
