<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- 
 Author: Roland Kluge
 -->
{% autoescape true %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Argumentation Units Annotation Home</title>
<script type="text/javascript" src="../static/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../static/bootstrap/js/bootstrap.js"></script>
<script type="text/javascript" src="../static/js/au/common.js"></script>
<link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet"
	type="text/css" />
<link href="../static/css/arg_unit.css" rel="stylesheet"
	type="text/css" />
</head>
<body>
	<div id="header">
		<div id="navigation">
			<img src="../static/img/logo.png" width="40px" />
			<div id="views">
				<ul>
					{% for view_id, view_description, url in all_views %} {% if view_id
					== current_view %}
					<li class="current_task"><a href="{{url}}">{{view_description}}</a></li>
					{% else %}
					<li><a href="{{url}}">{{view_description}}</a></li> {% endif %} {%
					endfor %}
				</ul>
			</div>
		</div>
		<div class="ustyle">
			<div id='user'>
				Welcome {{ user }}. <a href="{{ logout_url }}">Sign out</a><br />
			</div>
		</div>
		<div style="clear: both;"></div>
	</div>
	<div id="wrap">
		<h2>Welcome to the annotation task!</h2>
	</div>
	<div id="footer"
		style="background-color: #415e9b; clear: both; padding: 10px"></div>
</body>
</html>
{% endautoescape %}
